:root{
    --footer-height: 60px;
    --navbar-height:60px
}

.my-container {
    height: 100vh;
}

.my-navbar {
    height: var(--navbar-height);
}

.main-container {
    height: calc(100% - var(--footer-height) - var(--navbar-height));
}

.movies-container {
    max-height: 100%;
    overflow: scroll;
}

.movies-container::-webkit-scrollbar {
    display: none;
}

.my-card {
    width: 100%;
}

.my-footer {
    height: var(--footer-height);
    line-height: 60px;
}

.movie-image {
    width: 50%;
}

.movie-image img {
    height: 600px;
    width: 400px;
}

.review-card {
    width: 250px;
}

.movie-container {
    max-height: 100%;
    overflow: scroll;
}

.movie-container::-webkit-scrollbar {
    display: none;
}